.contact-title {
    color: #06BC9B;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}
.svg {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBE7E7;
}

.svg svg {
    width: 256px;
    height: 256px;
}

#smoke-1 {
    stroke-dasharray: 0, 10;
    animation: smoke 6s ease infinite;
}

#smoke-2 {
    stroke-dasharray: 0, 10;
    animation: smoke 6s 0.5s ease infinite;
}

@keyframes smoke {
    0% { stroke-dasharray: 0, 10; }
    50% { stroke-dasharray: 10, 0; }
    100% { stroke-dasharray: 10, 0; opacity: 0; }
}

/* WRITING */
#line-1 {
    opacity: 0;
    animation: writing 0.5s linear forwards;
}

#line-2 {
    opacity: 0;
    animation: writing 0.5s 1s linear forwards;
}

#line-3 {
    opacity: 0;
    animation: writing 0.5s 1.5s linear forwards;
}

#line-4 {
    opacity: 0;
    animation: writing 0.5s 2s linear forwards;
}

@keyframes writing {
    0% { width: 0px; opacity: 1;}
    100% { width: 14px; opacity: 1;}
}
