.typewriter {
    display: block;
}

.typewriter-text {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Klee One', cursive;
    border-right: 4px solid orange;
    text-align:center;
    width: 90%;
    padding-bottom: 20px;
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
    100%{
        border: none;
    }
}