.html-css{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.center button{
    position: absolute;
    outline: none;
    border: none;
    color: white;
    background-color: #06BC9B;
    font-size: 25px;
    padding: 10px 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center button:hover{
    background-color: #1ba49c;
}

.info-inst {
    position: absolute;
    max-width: 40%;
    color: white;
    background-color: #06BC9B;
    font-size: 20px;
    padding: 10px 15px;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
}

.info-inst:hover{
    background-color: #1ba49c;
}