.portfolio__title{
    text-align: center;
}
.back{
    margin: 30px auto 0;
    width: 100px;
    outline: none;
    border: none;
    color: white;
    background-color: #06BC9B;
    font-size: 25px;
    padding: 10px 15px;
}

.back:hover{
    background-color: #1ba49c;
}