.priority{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.priority__item{
    margin: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.d16 {
    margin: 20px 0;
    width: 100px;
    height: 55px;
    background: #F1CCAE;
    position: relative;
}
.d16:before,
.d16:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}
.d16:before {
    top: -25px;
    border-bottom: 25px solid #F1CCAE;
}
.d16:after {
    bottom: -25px;
    border-top: 25px solid #F1CCAE;
}

.priority__item-header span {
    height: 61px;
    display: block;
    position: relative;
    margin: 11px 10px 43px 17px;
}
.priority__item-header{
    color: #c2b490;
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.priority__item-header img{
    width: 50px;
    height: 50px;
    color: white;
}

.priority__item-text{
    color:#1ba49c;
    width: 80%;
}

