*,
*::before,
*::after{
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

body{
  font-family: 'Open Sans', sans-serif;
}



.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.App-logo {
  height: 40px;
  width: 40px;
  pointer-events: none;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  border-bottom: 2px solid #f5f6f7;
}
.header {
  display: flex;
  flex-direction: row;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header__logo{
  width: 40%;
  padding: 15px 0;
}
.header__links{
  padding: 10px 0;
  width: 36%;
  margin-left: auto;
}

.header__links a{
  margin-left: 15px;
  text-decoration: none;
  color: rgba(82,93,104,.7);
  font-size: 16px;
}

.header__links .active{
  color:#1ba49c;
  font-weight: 400;
  border-bottom: 2px solid #06BC9B;
}



.footer {
  background: #245963;
  padding-top: 14px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 40px;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer__top {
  vertical-align: top;
  max-width: 100%;
  margin: 0 auto;
}
.footer__mail {
  text-align: center;
  padding: 23px 0 10px;
}
.footer__phone {
  padding: 23px 1px 1px 64px;
}
@media screen and (min-width: 576px) {
  .footer__phone {
    padding-left: 22px;
  }
}
.footer__smedia {
  border-bottom:1px solid #387d89;
}
.footer .social-media {
  vertical-align: top;
}
.footer .social-media__list {
  list-style: none;
  padding-left: 6px;
  margin-left: 10px;
}
.footer .social-media__item {
  display: inline-block;
  margin-right: 13px;
}
.footer .social-media__link::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
}
.footer__border {
  position: relative;
}
@media screen and (min-width: 576px) {
  .footer__border::after {
    content: "";
  }
}
.footer__bottom {
  margin-top: 47px;
  text-align: center;
}

.web-info {
  font-size: 16px;
  color: #fff;
}
.web-info__text {
  color: #fdbd1f;
}


.footer .social-media__link ul, .info ul, .nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer .social-media__link ul li, .info ul li, .nav ul li {
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.social-media__item img {
  width: 30px;
  height: 30px;
}


